
@{
    Layout = null;
}

@model StudentRegistrationSystem.Models.StudentViewModel
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Add</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" asp-controller="student" asp-action="add">
	<table cellpadding="2"
	       cellspacing="2">
		<tr>
			<td>Registration Id</td>
			<td>
				<input asp-for="RegistrationId" />
			</td>
		</tr>
		<tr>
			<td>StudentName</td>
			<td>
				<input asp-for="StudentName" />
			</td>
		</tr>
		<tr>
			<td>DateOfBirth</td>
			<td>
				<input asp-for="DateOfBirth" />
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="Save" />
			</td>
		</tr>
	</table>
</form>
</body>
</html>
